<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<title>CollageShip</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<nav
			class="navbar navbar-light navbar-expand-lg"
			style="
				padding-left: 20px;
				background-color: #e3f2fd;
			"
		>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<span class="navbar-brand mb-0 h1"
				>CollegeShip</span
			>
			<div
				class="collapse navbar-collapse"
				id="navbarSupportedContent"
			>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="navbarDropdown"
							role="button"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							Profile
						</a>
						<div
							class="dropdown-menu"
							aria-labelledby="navbarDropdown"
						>
							<a
								class="dropdown-item"
								href="/user/addhar"
								>User Verification</a
							>
							<a
								class="dropdown-item"
								href="/user/pi"
								>Personal Details</a
							>
							<!-- <a class="dropdown-item" href="user_form_ad.html">Address Details</a> -->
							<a
								class="dropdown-item active"
								href="/user/oi"
								>Other Details</a
							>
							<a
								class="dropdown-item"
								href="/user/cci"
								>Current Course Details</a
							>
							<a
								class="dropdown-item"
								href="/user/pqi"
								>Past Qualification Details</a
							>
							<a
								class="dropdown-item"
								href="/user/apply"
								>Apply Scholarship</a
							>
							<a
								class="dropdown-item"
								href="/user/status"
								>Scholarship Status</a
							>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"
							>All Schemes</a
						>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>My Applied Schemes</a
						>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>My Cancelled Schemes</a
						>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>Grievances</a
						>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>Notifications</a
						>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>Declaration Forms</a
						>
					</li>
				</ul>
			</div>
		</nav>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" href="/ocr"
					>Document upload</a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/pi"
					>Personal Information</a
				>
			</li>
			<!-- <li class="nav-item">
            <a class="nav-link" href="user_form_ad.html">Address Information</a>
        </li> -->
			<li class="nav-item">
				<a class="nav-link" href="/user/oi"
					>Other Information</a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/cci"
					>Current Course</a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/pqi"
					>Past Qualification</a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/apply"
					>Apply Scholarship</a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/status"
					>Scholarship Status</a
				>
			</li>
		</ul>
		<marquee
			>The Application of Scholarships will be
			open till 31 September 2022.</marquee
		>
	</body>
</html>
