<%- include('partials/adminHeader'); -%>

        <div class="main--content">
            <div class="overview">
                <div class="title">
                    <h2 class="section--title">Overview</h2>
                    
                </div>
                <br>
                <div class="cards">
                    <div class="card card-1">
                        <div class="card--data">
                            <div class="card--content">
                                <a href="/admin/scholarship/request" class="card--title">Scholarship Requests</a>
                                <h1>152</h1>
                            </div>
                            <i class="ri-user-2-line card--icon--lg"></i>
                        </div>
                       
                    </div>
                    
                    <div class="card card-3">
                        <div class="card--data">
                            <div class="card--content">
                                <a href="/admin/scholarship/granted" class="card--title">Granted Candidates</a>
                                <h1>102</h1>
                            </div>
                            <i class="ri-user-line card--icon--lg"></i>
                        </div>
                        
                    </div>
                    <div class="card card-4">
                        <div class="card--data">
                            <div class="card--content">
                                <h5 class="card--title">Doubts Asked</h5>
                                <h1>15</h1>
                            </div>
                            <i class="ri-customer-service-line card--icon--lg"></i>
                        </div>
                       
                    </div>
                </div>
            </div>
           
    <!-- <script src="assets/js/main.js"></script> -->
</body>

</html>