<%- include('partials/header'); -%>

<header>
	<div class="scholarship">
		<img src="/scholarship.jpg" alt="" />
	</div>
	<div class="headings">
		<h2>CollegeShip</h2>
		<h3></h3>
		<a href="/ocr" class="btn"
			>Apply for Scholarship</a
		>
	</div>
</header>

<%- include('partials/footer'); -%>
