
    

    <div class="card-body p-4 p-sm-5">
        
        <legend>
            <h2><b>Applicable Scholarships</b></h2>
        </legend>
        <hr />
        <br>
        
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>Scholarship for Special Backward Class</b></h5>
                  <p class="card-text">The scholarship is for SBC students all over India. </p>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>Scholarship for Minority Communities</b></h5>
                  <p class="card-text">The scholarship is for Minority Caste students all over India.</p>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">Apply</a>
                </div>
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>Shahu Maharaj Merit Scholarship</b></h5>
                  <p class="card-text">The scholarship is for Scheduled Caste students all over India.</p>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Apply</a>
                </div>
              </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>Post Matric Scholarship to OBC Student</b></h5>
                  <p class="card-text">The scholarship is for OBC students all over India.</p>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>Economically Backward Students Scholarship</b></h5>
                  <p class="card-text">The scholarship is for EBC students all over India.</p>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">Apply</a>
                </div>
              </div>
            </div>
            
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>J & K Merit Scholarship</b></h5>
                  <p class="card-text">The scholarship is for Jammu and Kashmir students.</p>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">Apply</a>
                </div>
              </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><b>Scholarship for Students from Nomadic Tribes</b></h5>
                  <p class="card-text">The scholarship is for Nomadic Tribe students all over India.</p>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">Apply</a>
                </div>
              </div>
            </div>
        </div>
        
    </div>


    

      
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Scholarship for Special Backward Classes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">Provided by the Vimukta Jati and Nomadic Tribes, Other Backward Class and Special Backward Class Welfare Department, Government of Maharashtra. It is for students from the Special Backward Class. The eligibility criteria include: The student must be studying at the post-matriculation level in a government/government-aided institution. The family's annual income should be under than INR 8 Lakh. The students must have taken admission through Common Admission Process. Scholarship Amount : 30,000 per annum</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Scholarship for Minority Communities</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">Minority scholarships are available for the economically weaker section of the minority community.This scholarship program is created by the organization of Welfare Of Minorities Under The Ministry Of Welfare by the Government of India. Eligibility criteria includes: The student must be going to school/college/university to participate in this scheme. The annual income of the parents of that child should not exceed Rs 100000 to Rs 200000. He/She must belong to the below poverty line (BPL) category. The applicant must be a meritorious student to participate in the minority scholarship scheme. The purpose of this scheme is to encourage girl students of minority communities toward education. Applicants participating in this scheme are students up to the 10th standard. In this, the students studying in government and non-government educational institutions have got more than 50% marks in the last year. Scholarship Amount : 15,000 per annum</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Shahu Maharaj Merit Scholarship</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">This is provided by the Social Justice and Special Assistance Department, Government of Maharashtra. The eligibility criteria include: Students belonging to scheduled caste can apply. The applicants must score at least 75% in the SSC examination and applied to the 11th grade for admission. Scholarship Amount : 15,000 per annum</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Post Matric Scholarship to OBC Student</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">This is provided by the VJNT, OBC and SBC Welfare Department, Government of Maharashtra. It is for students belonging to Other Backward Class. The eligibility criteria include: Students pursuing studies at post-matriculation level can apply. The annual income of the family should be less than INR  1 Lakh. Scholarship Amount : 25,000 per annum</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Economically Backward Students Scholarship</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">This is provided by the Department of Social Justice & Empowerment, Government of India. The eligibility criteria include: Students pursuing studies at post-matriculation level can apply. The annual income of the family should be less than INR  8 Lakh. Scholarship Amount : 30,000 per annum</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">J & K Merit Scholarship</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">Provided by directorate of Social Welfare Jammu, Government of Jammu and Kashmir. The eligibility criteria include: The students belonging to SC/OBC/EBC/PC or DNT category can apply for this scholarship. They must be pursuing studies at the post-matriculation level within or outside Jammu and Kashmir at a government or government-recognized institution.  The annual income of the family should be less than INR 1 Lakh (for OBC, EBC, and PC candidates) and INR 2.5 Lakh (for SC and DNTs) Scholarship Amount : 10,000 per annum</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Scholarship for Students from Nomadic Tribes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">It is provided by the Vimukta Jati and Nomadic Tribes, Other Backward Class and Special Backward Class Welfare Department, Government of Maharashtra. It is for students from Vimukta Jati and Nomadic Tribes. The eligibility criteria include: It is open for students studying at post-matriculation level in a government/government-aided institution.  The family’s annual income should be under than INR 8 Lakh. Students must have taken admission through Common Admission Process. Scholarship Amount : 15,000 per annum</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>
      

      

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>

</html>