<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<title>User Login</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
	</head>

	<style>
		body {
			background: #ffdb67;
			background: linear-gradient(
				to right,
				#ffdb67,
				#ffdb67
			);
		}

		.btn-login {
			font-size: 0.9rem;
			letter-spacing: 0.05rem;
			padding: 0.75rem 1rem;
		}

		.btn-google {
			color: white !important;
			background-color: #ea4335;
		}

		.d-block {
			color: black;
		}

		.h111 {
			font-size: 30px;
			text-align: center;
		}
	</style>

	<body>
		<body>
			<div class="container">
				<div class="row">
					<div
						class="col-sm-9 col-md-7 col-lg-5 mx-auto"
					>
						<div
							class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden"
						>
							<div class="card-body p-4 p-sm-5">
								<h1 class="h111">
									<b>Export Data</b>
								</h1>
								<br /><br />
								<form
									action="/volunteer/export"
									method="post"
								>
									<div class="form-floating mb-3">
										<input
											type="password"
											class="form-control"
											id="userLoginEmail"
											placeholder="name@example.com"
											required
											name="secret"
										/>
										<label for="userLoginEmail"
											>Enter Security Key</label
										>
									</div>
									<br />
									<br />

									<!-- <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="userLoginPassword" placeholder="Password" required/>
                  <label for="userLoginPassword">Password</label>
                </div><br><br> -->

									<div class="d-grid mb-2">
										<button
											class="btn btn-lg btn-dark btn-login fw-bold text-uppercase"
											type="submit"
											id="userLoginBtnSignin"
										>
											Export Data
										</button>
									</div>

									<!-- <hr class="my-4" />
                <a class="d-block text-center mt-2 small" href="user_signup.html">Don't have an account? Sign Up</a> -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</body>
</html>
